git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/peft.git
transformers-stream-generator
transformers==5.9.0
huggingface_hub
qwen-vl-utils
sentencepiece
opencv-python
torchvision
supervision
molmo_utils
matplotlib
requests
hf_xet
einops
spaces
pillow
gradio==6.19.0
torch
timm
av
